<footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">Created by Carlos Rodríguez</small>
            </div>
            <div class="col-6 col-md">
                <h5>Links</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary
                            text-decoration-none" href="profile.php">My profile</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Technologies</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary
                            text-decoration-none" href="#">PHP</a></li>
                    <li class="mb-1"><a class="link-secondary
                            text-decoration-none" href="#">HTML</a></li>
                    <li class="mb-1"><a class="link-secondary
                            text-decoration-none" href="#">Bootstrap</a></li>
                    <li class="mb-1"><a class="link-secondary
                            text-decoration-none" href="#">Popper</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Relevant topics</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary
                            text-decoration-none" href="#">Basic session management with PHP</a></li>
                    <li class="mb-1"><a class="link-secondary
                            text-decoration-none" href="#">Responsive websites with Bootstrap</a></li>
                </ul>
            </div>
        </div>
    </footer>